<div class="container">
    <app-single-column-header class="cell" [columnName]="'id'"></app-single-column-header>
    <app-single-column-header class="cell" [columnName]="'name: home - away'"></app-single-column-header>
    <app-single-column-header class="cell" [columnName]="'date'"></app-single-column-header>
    <app-single-column-header class="cell" [columnName]="'time'"></app-single-column-header>
    <app-single-column-header class="cell" [columnName]="'results: home - away'"></app-single-column-header>
    <app-single-column-header class="cell" [columnName]="'actions'"></app-single-column-header>
</div>